/* базовые правила*/
@font-face {
    font-weight: 100; /* Соответствует значению normal */
    font-family: TTLakes-Light;
    src: url('../fonts/TTLakes-Light.ttf');
}

@font-face {
    font-family: TTLakes-Bold;
    src: url('../fonts/TTLakes-Bold.ttf');
}

html,
body,
ul,
li {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'TTLakes-Light';
}

h1 {
    font-family: 'TTLakes-Bold';
}

h2 {
    color: #1b1c21;
    font-family: 'TTLakes-Light';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
}

address {
    font-style: normal;
}

ul,
menu {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

fieldset {
    border: none;
}
/* конец базовых правил */

/* разделитель хедера */
.wrap-delimiter {
    display: flex;
    flex-flow: row;
    align-content: center;
    justify-content: space-around;
    height: 40px;

    & img:not([alt='Logo']) {
        transition: 0.2s ease-in-out;
        &:hover {
            rotate: -360deg;
            scale: 1.1;
        }
    }

    @media (width > 320px) {
        & li {
            padding-right: 24px;
        }
    }

    .vertical-line--left::after {
        content: '';
        float: left;
        position: relative;
        padding-left: 24px;
        border-left: 2px solid #eaeaea;
        height: 40px;
        cursor: auto;
    }

    @media (width > 767px) {
        .vertical-line--right::after {
            content: '';
            float: right;
            position: relative;
            padding-right: 24px;
            border-right: 2px solid #eaeaea;
            height: 40px;
            cursor: auto;
        }
    }

    .btn__logo {
        position: relative;
        bottom: 8px;
        display: flex;
    }
}
/* конец разделителя */

.header-nav-list {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    vertical-align: middle;
}

.main__title {
    color: #1b1c21;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px; /* 142.857% */
    letter-spacing: -0.6px;
}

.nav--position {
    position: relative;
    padding-bottom: 32px;
}

.header {
    background: #ffffff;
    min-width: 100%;
    border-bottom: 1px solid #d9fff5;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav {
        min-width: 100%;
        justify-content: space-between;
        display: flex;
        align-items: center;
        padding: 24px 0px;

        & li:first-child {
            padding-left: 16px;
        }

        & li:last-child {
            padding-right: 16px;
        }
    }
}

/* отключение блоков под дисплеи */
@media (width > 1439px) {
    .header {
        display: none;
    }
}

@media (width < 1440px) {
    .icons-desktop {
        display: none;
    }
}
@media (width < 768px) {
    .icons-desktop,
    .display--not-in-mobile {
        display: none;
    }
}
/* конец блока отключения */

.button__read-more {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 10px 20px;
}

.image-expand {
    padding-right: 15px;
    padding-left: 15px;
}

.title::before {
    content: url(../icons/highlight.svg);
    padding-right: 18px;
}

.close-btn-burger {
    @media (width > 1439px) {
        display: none;
    }
    @media (width < 1440px) {
        display: block;
    }
}

.burger-logo {
    @media (width > 1439px) {
        display: block;
        position: relative;
        right: 50%;
    }
}

.main {
    background: #f8f8f8;

    .nav-list {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        white-space: nowrap;
        flex-flow: row;
        justify-content: start;

        @media (width > 1439px) {
            padding-right: 20px;
            padding-top: 20px;
            flex-wrap: wrap;
        }

        .nav-list__link {
            text-decoration: none;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            text-align: center;
            color: #7e7e82;
            width: 100%;
            padding-left: 10px;
        }

        .nav-list__item {
            height: 40px;
            max-width: 100%;
            align-items: center;
            justify-content: stretch;
            padding-left: 15px;
            display: flex;
            flex-wrap: wrap;
            white-space: nowrap;
            @media (width > 1439px) {
                padding-right: 6px;
            }
        }

        .nav-list__link--active {
            border-radius: 6px;
            border: 2px solid #b8ffec;
            background: #fff;
            padding: 10px;
        }
    }

    .title {
        max-width: 304px;
        display: flex;
        align-items: center;

        @media (width > 1439px) {
            min-width: 100%;
            display: flex;
            flex-flow: row;
            align-items: center;

            .main__title {
                text-align: start;
                width: 90%;
                align-self: center;
            }

            .icons-desktop {
                & img {
                    transition: 0.2s ease-in-out;
                    &:hover {
                        rotate: -360deg;
                        scale: 1.1;
                    }
                }
                width: 100%;
                display: flex;
                justify-content: end;
                .button-repair,
                .button-status {
                    justify-content: space-around;
                    width: 200px;
                    display: flex;
                    align-items: center;
                    padding-right: 10px;
                }
            }
        }
    }

    .main-content {
        padding-top: 20px;

        display: flex;
        flex-direction: row;
        margin-top: -30px;

        @media (width < 768px) {
            flex-direction: column;
        }

        .main-content__description {
            height: auto;
            max-width: 90%;
            padding: 0px 16px 16px 16px;
            color: #1b1c21;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px; /* 128.571% */
            letter-spacing: 0.2px;
        }

        .main-content__image {
            padding-right: 20px;
            padding-top: 14px;
            width: auto;

            @media (width < 768px) {
                min-width: 90%;
                padding-right: 0px !important;
            }

            @media (width > 1439px) {
                min-width: 531px;
                min-height: 307px;
            }
        }

        .cuttedText {
            @media (width < 1440px) {
                display: flex;
                max-width: 100%;
                height: 90px;
                overflow: hidden;
                white-space: wrap;
                text-overflow: ellipsis;
                flex-flow: column;
            }
        }

        @media (width > 1439px) {
            min-height: 325px;
            background: #f8f8f8;
            .button__read-more {
                display: none;
            }
        }
    }
}

.text-content--more {
    @media (width > 1439px) {
        display: block;
    }

    @media (width < 1440px) {
        display: none;
    }
}
/* анимации ссылок в бургере в burger_menu.html */
.nav--animation {
    .nav-list__item a:hover {
        position: relative;
        left: 5px;
        text-shadow: -5px 5px 4px rgba(0, 0, 0, 0.3);
        transition: 0.1s ease-in-out;
        transform: scale(1.5);
    }

    .nav-list__item a:hover::before {
        content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAV0lEQVR4nGNgGAVUAKsYGBj+I+FQBioDEQYGhhdIFrxmYGAQp7Yl/mi+2MBAA7BqNKiIBatGg4oYEIYWTCsZqJzxXqJlPLEhE8lho0GDC4SNBs0oYMAFAKhgR7mlDneWAAAAAElFTkSuQmCC);
        position: relative;
        float: left;
        margin-left: -30px;
    }

    .nav-list__link--active:hover::before {
        content: url(../icons/highlight-menu.svg) !important;
        vertical-align: middle;
        position: relative;
        margin-left: -10px !important;
        float: none !important;
    }

    .nav-list__link--active:hover {
        text-shadow: none !important;
    }
}
/* конец анимаций ссылок в бургере */

/* бургер-меню */
.burger-menu {
    /* общие стили бургера*/
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
    min-height: 100vh;
    max-width: 320px;
    padding-bottom: 20px;
    background: #ffffff;
    flex-flow: column;
    justify-content: space-between;
    transition: 0.4s ease-in-out;
    display: flex;

    @media (width < 1441px) {
        position: absolute;
        transform: translateX(-360px);
        transition: 0.4s ease-in-out;
    }

    .button {
        transition: 0.1s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }
    /* конец общих стилей  бургера*/

    /* хедар бургера */
    .header-burger {
        display: flex;
        max-width: 272px;
        justify-content: space-between;
        border-bottom: none;
        flex-flow: row;
        align-content: center;
        background: white;
        padding: 24px;

        .header-nav-list {
            & li:nth-child(1) {
                padding-right: 17px;
            }
            & li:nth-child(2) {
                padding-right: 72px;
            }
        }
    }
    /* конец хедера бургера */

    /* основная навигация бургер меню список menu*/
    .nav-list {
        display: table-row;
        position: relative;
        left: 24px;

        &:first-child {
            padding-right: 20px;
        }

        .nav-list__link--active::before {
            content: url(../icons/highlight-menu.svg);
            vertical-align: middle;
            position: relative;
            right: 19px;
        }

        .nav-list__link--active {
            color: #7e7e82 !important;
            position: relative;
            right: 5px;
        }

        .active-switcher::before {
            content: url(../icons/highlight-menu.svg);
            vertical-align: middle;
            position: relative;
            right: 19px;
        }

        .active-switcher {
            color: #7e7e82 !important;
            position: relative;
            right: 5px;
        }

        .nav-list__item {
            position: relative;
            max-height: 24px;
            padding-bottom: 32px;
        }

        .nav-list__link {
            vertical-align: middle;
            text-align: left;
            color: #1b1c21;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px; /* 150% */
            letter-spacing: -0.2px;
        }
    }
    /* конец основной навигации */

    /* доп информация aside */
    .additional-information {
        position: relative;
        top: 0%;
        padding-left: 24px;

        .buttons-aside {
            display: flex;
            flex-direction: row;

            .button {
                padding-right: 16px;
                padding-bottom: 16px;
            }
        }

        .contacts {
            display: flex;
            flex-direction: column;

            .link-email {
                color: #1b1c21;
                font-size: 16px;
                line-height: 24px; /* 150% */
                font-weight: 600;
                letter-spacing: -0.2px;
                padding-bottom: 12px;

                &:hover {
                    text-decoration: underline;
                }
            }

            .link-phone {
                padding-bottom: 8px;
                font-family: 'TTLakes-Bold' !important;
                color: #1b1c21;
                font-size: 24px;
                line-height: 32px; /* 133.333% */
                letter-spacing: -0.6px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .langs-list {
        @media (height > 1439px) {
            padding-top: 40px;
        }
        padding-bottom: 16px;
        .lang-item {
            display: inline-block;
            padding-right: 7px;
            color: #1b1c21;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px; /* 150% */
            letter-spacing: -0.2px;

            :hover {
                border-bottom: 0.5px solid black;
                transform: scale(1.1);
            }
        }

        .lang-item--active {
            color: #7e7e82;

            :hover {
                border-bottom: none !important;
                transform: none !important;
                color: green;
            }
        }
    }
    /* конец доб информации aside */
}
/* конец бургер меню */

/* START SLIDER */
.header-mobile {
    background: linear-gradient(270deg, #f8f8f8 0%, #fff 98.61%);
    min-width: 100%;
    justify-content: start;
    vertical-align: middle;
    border-top: 1px solid #d9fff5;

    & h2 {
        color: #7e7e82;
    }
}
.header-tablet {
    border-top: 1px solid #d9fff5;
    & h2 {
        padding-left: 24px;
        color: #7e7e82;
    }
}

@media (width > 767px) {
    .header-tablet {
        width: 100vw;
        position: relative;
        height: 56px !important;
        position: relative;
        background: linear-gradient(90deg, #f8f8f8 1.39%, #fff 100%);
    }
}
.wrap-border {
    padding: 0 12px;
    align-items: center;
    justify-content: space-between;
    display: inline-flex;
    border-radius: 6px;
    border: 1px solid #eaeaea;
    background: #fff;
    min-width: 87%;
    height: 72px;
    & img:last-child {
        border-radius: 50%;
        transition: 0.6s ease-in-out;
    }

    &:hover {
        & img:last-child {
            transform: scale(1.1) rotate(360deg);

            border: none;
        }
    }
}

@media (width > 767px) {
    .wrap-border {
        min-width: 90%;
    }
}

.swiper {
    max-width: 100%;
    height: auto;
    padding-right: 40px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(270deg, #f8f8f8 0%, #fff 98.61%);
}

.swiper-pagination {
    position: relative;
    margin-top: 20px;
    padding-bottom: 20px;
}

.swiper-pagination-bullet-active {
    background: #838385;
}

.tablet-screen {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: #f8f8f8;
    overflow-x: hidden;
    .main-content {
        position: relative;
        padding-left: 9px;
    }

    .slider-list {
        height: 100%;
        display: inline-flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;

        .slider-list__item {
            padding-left: 24px;
            padding-top: 24px;
        }
    }
}

.wrap-border--slider-two {
    height: 160px;

    & h4 {
        align-self: flex-start;
    }

    & img {
        position: relative;
        top: 50px;
    }
}

.table-slider {
    display: flex;
    flex-flow: column;
}

.slider-list-three {
    display: flex;
    flex-flow: column;
    & h4 {
        display: none;
    }
}

.elem--max-width {
    max-width: 100%;
}

.swiper-three__header-list {
    display: flex;
    color: #7e7e82;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    opacity: 0.7218;
    @media (width < 768px) {
        display: none;
    }

    @media (width < 1440px) {
        display: inline-flex;
        justify-content: space-between;
        padding-left: 40px;

        .tablet-options {
            min-width: 12312321350%;
        }
    }

    @media (width > 1439px) {
        display: flex;
        flex-direction: row;
        align-content: space-around;
        width: 1024px;
        justify-self: space-between;

        & h4 {
            &:first-child {
                padding-left: 20px;
                padding-right: 320px;
            }
            &:last-child {
                padding-left: 240px;
            }
        }
    }
}
@media (width < 768px) {
    .hide-in-tablet {
        display: none;
    }
}

.wrap-border--slider-three {
    @media (width > 767px) {
        color: #1b1c21;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 128.571% */
        letter-spacing: 0.2px;
        background: white;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #eaeaea;
        width: 100%;
        background: rgb(255, 255, 255);
        margin-left: 2%;
        padding: 12px;
        display: flex;
        justify-content: baseline;
        align-content: center;

        .group-text {
            width: 100%;
        }

        .group-text-button {
            width: 100%;
            justify-content: center;
            display: inline-flex;

            & button {
                position: relative;
                width: 80%;
                bottom: 10px;
            }
        }
    }

    @media (width > 1439px) {
        .group-text {
            &:first-child {
                width: 60%;
            }
            width: 400px;
        }
        .group-text-button {
            width: 530px;
            justify-content: center;
            display: inline-flex;

            & button {
                width: 80%;
                position: relative;
                bottom: 5px;
            }
        }
        width: 1080px;
        background: rgb(255, 255, 255);
        margin-left: 8px;
        padding: 12px;
        display: flex;
        justify-content: baseline;
    }

    & h4 {
        color: #7e7e82;
        font-size: 14px;
        font-style: normal;
        font-family: 'TTLakes-Bold';
        font-weight: 500;
        line-height: 0px; /* 114.286% */
    }

    & p {
        color: #1b1c21;
        font-size: 14px;
        font-family: 'TTLakes-Light';
        font-style: normal;
        font-weight: 400;
        line-height: 16 px; /* 128.571% */
    }

    @media (width < 767px) {
        border: 1px solid #eaeaea;
        border-radius: 6px;
        padding: 0 12px;
        background: #fff;
        display: flex;
        width: 87%;
        height: auto;
        flex-flow: column;
        justify-self: start;
        align-items: start;
        transition: 0.2s ease-in-out;

        &:hover {
            background: rgb(255, 225, 225);
        }

        .group-text-button {
            width: 100%;
            display: inline-flex;
            justify-content: space-between;
            align-items: center;

            & button {
                position: relative;
                bottom: 20px;
            }
        }

        .group-text {
            & p {
                position: relative;
                bottom: 10px;
            }
        }
    }
}

@media (width > 767px) {
    .swiper-three__header-list {
        height: 50px;
    }

    .wrap--heigt-fixer {
        align-content: center;
        align-items: center;
    }
    .tablet-options-title::after {
        content: 'Ремонтные услуги';
        position: relative;
        bottom: 95px;
        color: #7e7e82;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        opacity: 0.7218;
        line-height: 16px; /* 114.286% */
    }
    .tablet-options-price::after {
        content: 'Цена';
        position: relative;
        bottom: 90px;
        color: #7e7e82;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        opacity: 0.7218;
        line-height: 16px; /* 114.286% */
    }
    .tablet-options-time::after {
        content: 'Срок';
        position: relative;
        bottom: 90px;
        color: #7e7e82;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        opacity: 0.7218;
        line-height: 16px; /* 114.286% */
    }
}
@media (width > 1434px) {
    .tablet-options-title::after {
        content: '';
    }
    .tablet-options-price::after {
        content: '';
    }
    .tablet-options-time::after {
        content: '';
    }
}

@media (width < 1440px) {
    .slider-list__item {
        flex: 0 0 30%;
    }

    .hide-in-tablet {
        display: none;
    }

    .view-window-only {
        display: none;
    }
}

@media (width < 767px) {
    .group-text-button {
        width: 530px;
        justify-content: center;
        display: inline-flex;

        & button {
            position: relative;
            bottom: 5px;
        }
    }
}

@media (width > 1439px) {
    .slider-list {
        .slider-list__item {
            flex: 0 0 22.7%;
        }
    }
    .view-window-only {
        display: flex;
    }
}

.content-end {
    width: 100%;
    padding: 20px;

    .content-end__p {
        color: #1b1c21;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        letter-spacing: 0.2px;
    }

    .contend-end__a {
        display: inline-flex;
        align-items: center;
        color: #1b1c21;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        letter-spacing: -0.2px;
    }
}

/* END SLIDER */
.button__show-more {
    position: relative;
    right: 20px;
}
/* МОДАЛКИ */

.modal-menu {
    transition: 1s ease-in-out;
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
    min-height: 100vh;
    position: fixed;
    top: 0%;
    right: -150%;
    width: 320px;
    background: #ffffff;
    flex-flow: column;
    padding: 16px;

    z-index: 100;
    @media (width > 767px) {
        width: 440px;
    }
    .header-modal-menu {
        padding: 8px 248px 24px 0px;

        @media (width > 767px) {
            position: absolute;

            .close-btn-menu {
                position: relative;
                right: 80px;
                top: 15px;
            }
        }

        & button {
            & img {
                transition: 0.2s ease-in-out;
                &:hover {
                    scale: 1.1;
                    rotate: 136deg;
                }
            }
        }
    }

    .title-menu {
        .main__title::before {
            content: url(../icons/highlight.svg);
            position: relative;
            float: left;
            right: 16px;
        }
    }

    .form {
        display: flex;
        flex-flow: column;
        gap: 16px;
        .form__input {
            width: 100%;
            height: 48px;
            flex-shrink: 0;
            border-radius: 8px;
            border: 1px solid #eaeaea;
            background: #fff;
            text-indent: 16px;
        }
        .form__area {
            padding-top: 16px;
            width: 100%;
            height: 118px;
            flex-shrink: 0;
            text-indent: 16px;
            border-radius: 8px;
            border: 1px solid #eaeaea;
            background: #fff;
        }
    }
}

.form__button {
    border-radius: 16px;
    display: flex;
    justify-content: center;
    background: #ff3e79;
    width: 136px;
    height: 32px;
    vertical-align: middle;
    align-self: flex-end;
    margin-right: 20px;

    &:hover {
        & img {
            rotate: 180deg;
        }

        & p {
            scale: 1.1;
        }
    }

    & p {
        transition: 0.2s ease-in-out;
        align-self: center;
        color: #fff;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 200% */
        letter-spacing: -0.15px;
        text-transform: uppercase;
    }

    & img {
        transition: 0.2s ease-in-out;
        align-self: center;
        width: 27.4px;
        height: 24px;
        position: relative;
        left: 10px;
    }
}
.body {
    overflow-x: hidden;
}

.footer {
    border-top: 1px solid #d9fff5;
    padding: 12px;
    color: #7e7e82;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    background: #F8F8F8;

    @media (width > 767px) {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        & p {
            width: 218px;
        }

        & p:first-child {
            text-align: left;
        };

        & p:last-child {
            text-align: right;
        };
    }
}
