@font-face {
	font-weight: 100; /* Соответствует значению normal */
	font-family: TTLakes-Light;
	src: url('../fonts/TTLakes-Light.ttf');
}

@font-face {
	font-family: TTLakes-Bold;
	src: url('../fonts/TTLakes-Bold.ttf');
}

html,
body {
	margin: 0;
	padding: 0;
}

* {
	font-family: 'TTLakes-Light';
}

h1 {
	font-family: 'TTLakes-Bold';
}

h2 {
	color: #1b1c21;
	font-family: 'TTLakes-Light';
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px; /* 150% */
	letter-spacing: -0.2px;
}

button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

.main__title {
	color: #1b1c21;
	font-size: 28px;
	font-weight: 700;
	line-height: 40px; /* 142.857% */
	letter-spacing: -0.6px;
}

fieldset {
	border: none;
}

.header div {
	padding-right: 16px;
}

.header {
	background: #ffffff;
	min-width: 100vw;
	border-bottom: 1px solid #d9fff5;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.nav {
		.wrap-delimiter {
			display: flex;
		}

		min-width: 100%;
		justify-content: space-between;
		display: flex;
		align-items: center;
		padding: 16px 0px;

		.nav__button-burger {
			position: relative;
			top: 10px;
			padding-left: 16px;
		}

		.nav__button-reapair::before {
			content: '';
			display: inline-flex;
			position: relative;
			padding-left: 16px;
			border-left: 2px solid #eaeaea;
			height: 40px;
			cursor: auto;
		}

		.nav__button-status {
			padding-right: 16px;
		}

		@media (width > 767px) {
			.nav__button-burger::after {
				content: '';
				display: inline-flex;
				position: relative;
				padding-right: 16px;
				border-right: 2px solid #eaeaea;
				height: 40px;
				cursor: auto;
			}
		}
	}
}
@media (width >= 1119px) {
	.header {
		display: none;
	}
}

@media (width < 1119px) {
	.title__icons-desktop {
		display: none;
	}
}
@media (width < 767px) {
	.title__icons-desktop,
	.nav__button-call,
	.nav__button-chat,
	.nav__button-profile {
		display: none;
	}
}

button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

.button__read-more {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 10px 10px 20px;
}

.image-expand {
	padding-right: 15px;
}

.main {
	background: #f8f8f8;
	height: 100%;
	max-width: 100vw;

	.title {
		max-width: 304px;
		display: flex;
		align-items: center;

		@media (width >= 1119px) {
			min-width: 100%;
			display: flex;
			flex-flow: row;
			align-items: center;

			.main__title {
				text-align: start;
				width: 90%;
				align-self: center;
			}

			.title__icons-desktop {
				width: 100%;
				display: flex;
				justify-content: end;
				.title__button-repair,
				.title__button-status {
					justify-content: space-around;
					width: 200px;
					display: flex;
					align-items: center;
					padding-right: 10px;
				}
			}
		}
	}

	.title::before {
		content: url(../icons/highlight.svg);
		padding-right: 30px;
	}

	.nav-list {
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		white-space: nowrap;
		flex-flow: row;
		justify-content: start;
		right: 30px;
		bottom: 20px;
		padding-bottom: 8px;

		@media (width >= 1119px) {
			padding-top: 20px;
			flex-wrap: wrap;
		}

		.nav-list__link {
			text-decoration: none;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			text-align: center;
			color: #7e7e82;
			width: 100%;
			padding-left: 10px;
		}

		.nav-list__item {
			height: 40px;
			max-width: 100%;
			align-items: center;
			justify-content: stretch;
			padding-left: 15px;
			display: flex;
			flex-wrap: wrap;
			white-space: nowrap;

			@media (width >= 1119px) {
				padding-right: 30px;
			}
		}

		.nav-list__link--active {
			border-radius: 6px;
			border: 2px solid #b8ffec;
			background: #fff;
			padding: 10px;
		}
	}

	.main-content {
		padding-top: 20px;
		max-height: 260px;
		display: flex;
		flex-direction: row;
		margin-top: -30px;

		@media (width < 767px) {
			flex-direction: column;
		}

		.main-content__description {
			height: auto;
			max-width: 90%;
			padding: 0px 16px 16px 16px;
			color: #1b1c21;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 18px; /* 128.571% */
			letter-spacing: 0.2px;
		}

		.main-content__image {
			padding-right: 20px;
			padding-top: 14px;
			width: auto;

			@media (width < 767px) {
				min-width: 90%;
				padding-right: 0px !important;
			}

			@media (width > 1120px) {
				min-width: 531px;
				min-height: 307px;
			}
		}

		.cuttedText {
			@media (width < 767px) {
				display: flex;
				max-width: 100%;
				height: 90px;
				overflow: hidden;
				white-space: wrap;
				text-overflow: ellipsis;
			}

			@media (width < 1119px) {
				display: flex;
				max-width: 100%;
				height: 90px;
				overflow: hidden;
				white-space: wrap;
				text-overflow: ellipsis;
			}
		}

		@media (width >= 1119px) {
			min-height: 325px;
			background: #f8f8f8;
		}
	}
}
