.header {
    display: none;
    background: #ffffff;
    min-width: 100vw;
    max-height: 88px;
    border-bottom: 1px solid #D9FFF5; 
    .nav {
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header-nav__item:nth-child(4) {
            padding-left: 55%;
        }
    }   
}

.main {
    background: #F8F8F8;
    height: auto;
    min-width: 100vw;
    padding-top: 24px;
    padding-bottom: 24px;

    .title {     
        width: 100%;
        display: flex;
        flex-flow: row;
        align-items: center;
        height: 40px;

        .main-title__decoraive-highlight {
            align-self: start;
        }

        .main-title__title {
            padding-left: 16px;
            text-align: start;
            width: 90%;
            align-self: center;;
        }

        .main__title__icons-for-desktop {
            width: 100%;
            display: flex;
            justify-content: end;

            .header-nav__item {
                justify-content: space-around;
                width: 200px;
                display: flex;
                align-items: center;
                padding-right: 24px;
            }
        }
    }

    .main__nav {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        white-space: nowrap;
        flex-flow: row;
        
        .main__nav-links {
            width: 100%;
            align-items:center;
            justify-content: flex-start;
            padding-left: 15px;
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            white-space: nowrap;
            list-style-type: none;
        }
    }

    .main-content {
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        height: auto;
        width: 100%;
        margin-top: -30px;
        .cuttedText {
            display: flex;
            width: 100%;
          }

        .main-content__description {
            height: auto;
            width: 100%;
            padding: 24px 16px 16px 16px;
            color: #1B1C21;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px; /* 128.571% */
            letter-spacing: 0.2px;
        }

        .main-content__aside {
            display: flex;
            flex-direction: row;
            justify-content: start;
            padding-left: 16px;
            padding-right: 8px;
        }

        .main-content__image {
            width: 360px;
            padding-top: 40px;
            padding-left: 48px;
            padding-right: 24px;
        }
    }

}

