@font-face {
    font-weight: 100; 
    font-family: TTLakes-Light;
    src: url('../fonts/TTLakes-Light.ttf');
  }
  
  @font-face {
    font-family: TTLakes-Bold;
    src: url('../fonts/TTLakes-Bold.ttf');
  }
  