.header-nav-list {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    vertical-align: middle;
  }
  
  .main__title {
    color: var(--color-black-lighter);
    font-size: 28px;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: -0.6px;
  }
  
  .nav--position {
    position: relative;
    padding-bottom: 32px;
  }
  
  .header {
    background: var(--color-white);
    min-width: 100%;
    border-bottom: 1px solid var(--color-border-topnbottom);
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .nav {
        min-width: 100%;
        justify-content: space-between;
        display: flex;
        align-items: center;
        padding: 24px 0px;
  
        & li:first-child {
            padding-left: 16px;
        }
  
        & li:last-child {
            padding-right: 16px;
        }
    }
  }
  
  @media (width > 1439px) {
    .header {
        display: none;
    }
  }
  
  @media (width < 1440px) {
    .icons-desktop {
        display: none;
    }
  }
  @media (width < 768px) {
    .icons-desktop,
    .display--not-in-mobile {
        display: none;
    }
  }