@charset "UTF-8";
.nav--animation .nav-list__item a:hover {
  position: relative;
  left: 5px;
  text-shadow: -5px 5px 4px var(--color-black-opacity-03);
  transition: 0.1s ease-in-out;
  transform: scale(1.5);
}
.nav--animation .nav-list__item a:hover::before {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAV0lEQVR4nGNgGAVUAKsYGBj+I+FQBioDEQYGhhdIFrxmYGAQp7Yl/mi+2MBAA7BqNKiIBatGg4oYEIYWTCsZqJzxXqJlPLEhE8lho0GDC4SNBs0oYMAFAKhgR7mlDneWAAAAAElFTkSuQmCC);
  position: relative;
  float: left;
  margin-left: -30px;
}
.nav--animation .nav-list__link--active:hover::before {
  content: url(../images/highlight-menu.svg) !important;
  vertical-align: middle;
  position: relative;
  margin-left: -10px !important;
  float: none !important;
}
.nav--animation .nav-list__link--active:hover {
  text-shadow: none !important;
}

.burger-menu {
  box-shadow: 16px 0px 52px 0px var(--color-black-opacity-02), -2px 0px 4px 0px var(--color-black-opacity-002);
  min-height: 100vh;
  max-width: 320px;
  padding-bottom: 20px;
  background: var(--color-white);
  flex-flow: column;
  justify-content: space-between;
  transition: 0.4s ease-in-out;
  display: flex;
}
@media (width < 1441px) {
  .burger-menu {
    position: absolute;
    transform: translateX(-360px);
    transition: 0.4s ease-in-out;
  }
}
.burger-menu .button {
  transition: 0.1s ease-in-out;
}
.burger-menu .button:hover {
  transform: scale(1.1);
}
.burger-menu .header-burger {
  display: flex;
  max-width: 272px;
  justify-content: space-between;
  border-bottom: none;
  flex-flow: row;
  align-content: center;
  background: var(--color-white);
  padding: 24px;
}
.burger-menu .header-burger .header-nav-list li:nth-child(1) {
  padding-right: 17px;
}
.burger-menu .header-burger .header-nav-list li:nth-child(2) {
  padding-right: 72px;
}
.burger-menu .nav-list {
  display: table-row;
  position: relative;
  left: 24px;
}
.burger-menu .nav-list:first-child {
  padding-right: 20px;
}
.burger-menu .nav-list .nav-list__link--active::before {
  content: url(../images/highlight-menu.svg);
  vertical-align: middle;
  position: relative;
  right: 19px;
}
.burger-menu .nav-list .nav-list__link--active {
  color: var(--color-grey);
  position: relative;
  right: 5px;
}
.burger-menu .nav-list .active-switcher::before {
  content: url(../images/highlight-menu.svg);
  vertical-align: middle;
  position: relative;
  right: 19px;
}
.burger-menu .nav-list .active-switcher {
  color: var(--color-grey) !important;
  position: relative;
  right: 5px;
}
.burger-menu .nav-list .nav-list__item {
  position: relative;
  max-height: 24px;
  padding-bottom: 32px;
}
.burger-menu .nav-list .nav-list__link {
  vertical-align: middle;
  text-align: left;
  color: var(--color-black-lighter);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
}
.burger-menu .additional-information {
  position: relative;
  top: 0%;
  padding-left: 24px;
}
.burger-menu .additional-information .buttons-aside {
  display: flex;
  flex-direction: row;
}
.burger-menu .additional-information .buttons-aside .button {
  padding-right: 16px;
  padding-bottom: 16px;
}
.burger-menu .additional-information .contacts {
  display: flex;
  flex-direction: column;
}
.burger-menu .additional-information .contacts .link-email {
  color: var(--color-black-lighter);
  font-size: 16px;
  line-height: 24px; /* 150% */
  font-weight: 600;
  letter-spacing: -0.2px;
  padding-bottom: 12px;
}
.burger-menu .additional-information .contacts .link-email:hover {
  text-decoration: underline;
}
.burger-menu .additional-information .contacts .link-phone {
  padding-bottom: 8px;
  font-family: "TTLakes-Bold" !important;
  color: var(--color-black-lighter);
  font-size: 24px;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.6px;
}
.burger-menu .additional-information .contacts .link-phone:hover {
  text-decoration: underline;
}
.burger-menu .langs-list {
  padding-bottom: 16px;
}
@media (height > 1439px) {
  .burger-menu .langs-list {
    padding-top: 40px;
  }
}
.burger-menu .langs-list .lang-item {
  display: inline-block;
  padding-right: 7px;
  color: var(--color-black-lighter);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.burger-menu .langs-list .lang-item :hover {
  border-bottom: 0.5px solid var(--color-black);
  transform: scale(1.1);
}
.burger-menu .langs-list .lang-item--active {
  color: var(--color-grey);
}
.burger-menu .langs-list .lang-item--active :hover {
  border-bottom: none !important;
  transform: none !important;
  color: var(--color-green);
}

@font-face {
  font-weight: 100;
  font-family: TTLakes-Light;
  src: url("../fonts/TTLakes-Light.ttf");
}
@font-face {
  font-family: TTLakes-Bold;
  src: url("../fonts/TTLakes-Bold.ttf");
}
.header-nav-list {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  vertical-align: middle;
}

.main__title {
  color: var(--color-black-lighter);
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6px;
}

.nav--position {
  position: relative;
  padding-bottom: 32px;
}

.header {
  background: var(--color-white);
  min-width: 100%;
  border-bottom: 1px solid var(--color-border-topnbottom);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav {
  min-width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 24px 0px;
}
.header .nav li:first-child {
  padding-left: 16px;
}
.header .nav li:last-child {
  padding-right: 16px;
}

@media (width > 1439px) {
  .header {
    display: none;
  }
}
@media (width < 1440px) {
  .icons-desktop {
    display: none;
  }
}
@media (width < 768px) {
  .icons-desktop,
  .display--not-in-mobile {
    display: none;
  }
}
html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}

* {
  font-family: "TTLakes-Light";
}

h1 {
  font-family: "TTLakes-Bold";
}

h2 {
  color: var(--color-black-lighter);
  font-family: "TTLakes-Light";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
}

address {
  font-style: normal;
}

ul,
menu {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

fieldset {
  border: none;
}

.wrap-delimiter {
  display: flex;
  flex-flow: row;
  align-content: center;
  justify-content: space-around;
  height: 40px;
}
.wrap-delimiter img:not([alt=Logo]) {
  transition: 0.2s ease-in-out;
}
.wrap-delimiter img:not([alt=Logo]):hover {
  rotate: -360deg;
  scale: 1.1;
}
@media (width > 320px) {
  .wrap-delimiter li {
    padding-right: 24px;
  }
}
.wrap-delimiter .vertical-line--left::after {
  content: "";
  float: left;
  position: relative;
  padding-left: 24px;
  border-left: 2px solid var(--color-white-darker-2);
  height: 40px;
  cursor: auto;
}
@media (width > 767px) {
  .wrap-delimiter .vertical-line--right::after {
    content: "";
    float: right;
    position: relative;
    padding-right: 24px;
    border-right: 2px solid var(--color-white-darker-2);
    height: 40px;
    cursor: auto;
  }
}
.wrap-delimiter .btn__logo {
  position: relative;
  bottom: 8px;
  display: flex;
}

.button__read-more {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 10px 20px;
}

.image-expand {
  padding-right: 15px;
  padding-left: 15px;
}

.title::before {
  content: url(../images/highlight.svg);
  padding-right: 18px;
}

@media (width > 1439px) {
  .close-btn-burger {
    display: none;
  }
}
@media (width < 1440px) {
  .close-btn-burger {
    display: block;
  }
}

@media (width > 1439px) {
  .burger-logo {
    display: block;
    position: relative;
    right: 50%;
  }
}

.main {
  background: var(--color-white-darker);
}
.main .nav-list {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
  flex-flow: row;
  justify-content: start;
}
@media (width > 1439px) {
  .main .nav-list {
    padding-right: 20px;
    padding-top: 20px;
    flex-wrap: wrap;
  }
}
.main .nav-list .nav-list__link {
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  color: var(--color-grey);
  width: 100%;
  padding-left: 10px;
}
.main .nav-list .nav-list__item {
  height: 40px;
  max-width: 100%;
  align-items: center;
  justify-content: stretch;
  padding-left: 15px;
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
}
@media (width > 1439px) {
  .main .nav-list .nav-list__item {
    padding-right: 6px;
  }
}
.main .nav-list .nav-list__link--active {
  border-radius: 6px;
  border: 2px solid var(--color-light-green);
  background: var(--color-white);
  padding: 10px;
}
.main .title {
  max-width: 304px;
  display: flex;
  align-items: center;
}
@media (width > 1439px) {
  .main .title {
    min-width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
  }
  .main .title .main__title {
    text-align: start;
    width: 90%;
    align-self: center;
  }
  .main .title .icons-desktop {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  .main .title .icons-desktop img {
    transition: 0.2s ease-in-out;
  }
  .main .title .icons-desktop img:hover {
    rotate: -360deg;
    scale: 1.1;
  }
  .main .title .icons-desktop .button-repair,
  .main .title .icons-desktop .button-status {
    justify-content: space-around;
    width: 200px;
    display: flex;
    align-items: center;
    padding-right: 10px;
  }
}
.main .main-content {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  margin-top: -30px;
}
@media (width < 768px) {
  .main .main-content {
    flex-direction: column;
  }
}
.main .main-content .main-content__description {
  height: auto;
  max-width: 90%;
  padding: 0px 16px 16px 16px;
  color: var(--color-black-lighter);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
}
.main .main-content .main-content__image {
  padding-right: 20px;
  padding-top: 14px;
  width: auto;
}
@media (width < 768px) {
  .main .main-content .main-content__image {
    min-width: 90%;
    padding-right: 0px !important;
  }
}
@media (width > 1439px) {
  .main .main-content .main-content__image {
    min-width: 531px;
    min-height: 307px;
  }
}
@media (width < 1440px) {
  .main .main-content .cuttedText {
    display: flex;
    max-width: 100%;
    height: 90px;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
    flex-flow: column;
  }
}
@media (width > 1439px) {
  .main .main-content {
    min-height: 325px;
    background: var(--color-white-darker);
  }
  .main .main-content .button__read-more {
    display: none;
  }
}

@media (width > 1439px) {
  .text-content--more {
    display: block;
  }
}
@media (width < 1440px) {
  .text-content--more {
    display: none;
  }
}

.body {
  overflow-x: hidden;
}

.footer {
  border-top: 1px solid var(--color-border-topnbottom);
  padding: 12px;
  color: var(--color-grey);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  background: var(--color-white-darker);
}
@media (width > 767px) {
  .footer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
  .footer p {
    width: 218px;
  }
  .footer p:first-child {
    text-align: left;
  }
  .footer p:last-child {
    text-align: right;
  }
}

.button__show-more {
  position: relative;
  right: 20px;
}

.modal-menu {
  transition: 1s ease-in-out;
  box-shadow: 16px 0px 52px 0px var(--color-black-opacity-02), -2px 0px 4px 0px var(--color-black-opacity-002);
  min-height: 100vh;
  position: fixed;
  top: 0%;
  right: -150%;
  width: 320px;
  background: var(--color-white);
  flex-flow: column;
  padding: 16px;
  z-index: 100;
}
@media (width > 767px) {
  .modal-menu {
    width: 440px;
  }
}
.modal-menu .header-modal-menu {
  padding: 8px 248px 24px 0px;
}
@media (width > 767px) {
  .modal-menu .header-modal-menu {
    position: absolute;
  }
  .modal-menu .header-modal-menu .close-btn-menu {
    position: relative;
    right: 80px;
    top: 15px;
  }
}
.modal-menu .header-modal-menu button img {
  transition: 0.2s ease-in-out;
}
.modal-menu .header-modal-menu button img:hover {
  scale: 1.1;
  rotate: 136deg;
}
.modal-menu .title-menu .main__title::before {
  content: url(../images/highlight.svg);
  position: relative;
  float: left;
  right: 16px;
}
.modal-menu .form {
  display: flex;
  flex-flow: column;
  gap: 16px;
}
.modal-menu .form .form__input {
  width: 100%;
  height: 48px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--color-white-darker-2);
  background: var(--color-white);
  text-indent: 16px;
}
.modal-menu .form .form__area {
  padding-top: 16px;
  width: 100%;
  height: 118px;
  flex-shrink: 0;
  text-indent: 16px;
  border-radius: 8px;
  border: 1px solid var(--color-white-darker-2);
  background: var(--color-white);
}

.form__button {
  border-radius: 16px;
  display: flex;
  justify-content: center;
  background: var(--color-light-red);
  width: 136px;
  height: 32px;
  vertical-align: middle;
  align-self: flex-end;
  margin-right: 20px;
}
.form__button:hover img {
  rotate: 180deg;
}
.form__button:hover p {
  scale: 1.1;
}
.form__button p {
  transition: 0.2s ease-in-out;
  align-self: center;
  color: var(--color-white);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.15px;
  text-transform: uppercase;
}
.form__button img {
  transition: 0.2s ease-in-out;
  align-self: center;
  width: 27.4px;
  height: 24px;
  position: relative;
  left: 10px;
}

.header-mobile {
  background: linear-gradient(270deg, var(--color-white-darker) 0%, var(--color-white) 98.61%);
  min-width: 100%;
  justify-content: start;
  vertical-align: middle;
  border-top: 1px solid var(--color-border-topnbottom);
}
.header-mobile h2 {
  color: var(--color-grey);
}

.header-tablet {
  border-top: 1px solid var(--color-border-topnbottom);
}
.header-tablet h2 {
  padding-left: 24px;
  color: var(--color-grey);
}

@media (width > 767px) {
  .header-tablet {
    width: 100vw;
    position: relative;
    height: 56px !important;
    position: relative;
    background: linear-gradient(90deg, var(--color-white-darker) 1.39%, var(--color-white) 100%);
  }
}
.wrap-border {
  padding: 0 12px;
  align-items: center;
  justify-content: space-between;
  display: inline-flex;
  border-radius: 6px;
  border: 1px solid var(--color-white-darker);
  background: var(--color-white);
  min-width: 87%;
  height: 72px;
}
.wrap-border img:last-child {
  border-radius: 50%;
  transition: 0.6s ease-in-out;
}
.wrap-border:hover img:last-child {
  transform: scale(1.1) rotate(360deg);
  border: none;
}

@media (width > 767px) {
  .wrap-border {
    min-width: 90%;
  }
}
.swiper {
  max-width: 100%;
  height: auto;
  padding-right: 40px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(var(--color-white-darker) 0%, var(--color-white) 98.61%);
}

.swiper-pagination {
  position: relative;
  margin-top: 20px;
  padding-bottom: 20px;
}

.swiper-pagination-bullet-active {
  background: var(--color-grey-greyer);
}

.tablet-screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: var(--color-white-darker);
  overflow-x: hidden;
}
.tablet-screen .main-content {
  position: relative;
  padding-left: 9px;
}
.tablet-screen .slider-list {
  height: 100%;
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}
.tablet-screen .slider-list .slider-list__item {
  padding-left: 24px;
  padding-top: 24px;
}

.wrap-border--slider-two {
  height: 160px;
}
.wrap-border--slider-two h4 {
  align-self: flex-start;
}
.wrap-border--slider-two img {
  position: relative;
  top: 50px;
}

.table-slider {
  display: flex;
  flex-flow: column;
}

.slider-list-three {
  display: flex;
  flex-flow: column;
}
.slider-list-three h4 {
  display: none;
}

.elem--max-width {
  max-width: 100%;
}

.swiper-three__header-list {
  display: flex;
  color: var(--color-grey);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  opacity: 0.7218;
}
@media (width < 768px) {
  .swiper-three__header-list {
    display: none;
  }
}
@media (width < 1440px) {
  .swiper-three__header-list {
    display: inline-flex;
    justify-content: space-between;
    padding-left: 40px;
  }
  .swiper-three__header-list .tablet-options {
    min-width: 12312321350%;
  }
}
@media (width > 1439px) {
  .swiper-three__header-list {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    width: 1024px;
    justify-self: space-between;
  }
  .swiper-three__header-list h4:first-child {
    padding-left: 20px;
    padding-right: 320px;
  }
  .swiper-three__header-list h4:last-child {
    padding-left: 240px;
  }
}

@media (width < 768px) {
  .hide-in-tablet {
    display: none;
  }
}
@media (width > 767px) {
  .wrap-border--slider-three {
    color: var(--color-black-lighter);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
    background: var(--color-white);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-white-darker);
    width: 100%;
    background: var(--color-white);
    margin-left: 2%;
    padding: 12px;
    display: flex;
    justify-content: baseline;
    align-content: center;
  }
  .wrap-border--slider-three .group-text {
    width: 100%;
  }
  .wrap-border--slider-three .group-text-button {
    width: 100%;
    justify-content: center;
    display: inline-flex;
  }
  .wrap-border--slider-three .group-text-button button {
    position: relative;
    width: 80%;
    bottom: 10px;
  }
}
@media (width > 1439px) {
  .wrap-border--slider-three {
    width: 1080px;
    background: var(--color-white);
    margin-left: 8px;
    padding: 12px;
    display: flex;
    justify-content: baseline;
  }
  .wrap-border--slider-three .group-text {
    width: 400px;
  }
  .wrap-border--slider-three .group-text:first-child {
    width: 60%;
  }
  .wrap-border--slider-three .group-text-button {
    width: 530px;
    justify-content: center;
    display: inline-flex;
  }
  .wrap-border--slider-three .group-text-button button {
    width: 80%;
    position: relative;
    bottom: 5px;
  }
}
.wrap-border--slider-three h4 {
  color: var(--color-grey);
  font-size: 14px;
  font-style: normal;
  font-family: "TTLakes-Bold";
  font-weight: 500;
  line-height: 0px;
}
.wrap-border--slider-three p {
  color: var(--color-black-lighter);
  font-size: 14px;
  font-family: "TTLakes-Light";
  font-style: normal;
  font-weight: 400;
  line-height: 16 px;
}
.wrap-border--slider-three button p {
  color: var(--color-white);
}
@media (width < 767px) {
  .wrap-border--slider-three {
    border: 1px solid var(--color-white-darker);
    border-radius: 6px;
    padding: 0 12px;
    background: var(--color-white);
    display: flex;
    width: 87%;
    height: auto;
    flex-flow: column;
    justify-self: start;
    align-items: start;
    transition: 0.2s ease-in-out;
  }
  .wrap-border--slider-three:hover {
    background: var(--color-white-2);
  }
  .wrap-border--slider-three .group-text-button {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }
  .wrap-border--slider-three .group-text-button button {
    position: relative;
    bottom: 20px;
  }
  .wrap-border--slider-three .group-text p {
    position: relative;
    bottom: 10px;
  }
}

@media (width > 767px) {
  .swiper-three__header-list {
    height: 50px;
  }
  .wrap--heigt-fixer {
    align-content: center;
    align-items: center;
  }
  .tablet-options-title::after {
    content: "Ремонтные услуги";
    position: relative;
    bottom: 95px;
    color: var(--color-grey);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    opacity: 0.7218;
    line-height: 16px; /* 114.286% */
  }
  .tablet-options-price::after {
    content: "Цена";
    position: relative;
    bottom: 90px;
    color: var(--color-grey);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    opacity: 0.7218;
    line-height: 16px; /* 114.286% */
  }
  .tablet-options-time::after {
    content: "Срок";
    position: relative;
    bottom: 90px;
    color: var(--color-grey);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    opacity: 0.7218;
    line-height: 16px; /* 114.286% */
  }
}
@media (width > 1434px) {
  .tablet-options-title::after {
    content: "";
  }
  .tablet-options-price::after {
    content: "";
  }
  .tablet-options-time::after {
    content: "";
  }
}
@media (width < 1440px) {
  .slider-list__item {
    flex: 0 0 30%;
  }
  .hide-in-tablet {
    display: none;
  }
  .view-window-only {
    display: none;
  }
}
@media (width < 767px) {
  .group-text-button {
    width: 530px;
    justify-content: center;
    display: inline-flex;
  }
  .group-text-button button {
    position: relative;
    bottom: 5px;
  }
}
@media (width > 1439px) {
  .slider-list .slider-list__item {
    flex: 0 0 22.7%;
  }
  .view-window-only {
    display: flex;
  }
}
.content-end {
  width: 100%;
  padding: 20px;
}
.content-end .content-end__p {
  color: var(--color-black-lighter);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
}
.content-end .contend-end__a {
  display: inline-flex;
  align-items: center;
  color: var(--color-black-lighter);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
}

:root {
  --color-border-topnbottom: #d9fff5;
  --color-grey: #7e7e82;
  --color-grey-greyer: #838385;
  --color-white: #fff;
  --color-white-2: rgb(255, 225, 225);
  --color-white-darker: #f8f8f8;
  --color-white-darker-2: #eaeaea;
  --color-black: black;
  --color-black-lighter: #1b1c21;
  --color-black-opacity-03: rgba(0, 0, 0, 0.3);
  --color-black-opacity-02: rgba(14, 24, 80, 0.2);
  --color-black-opacity-002: rgba(69, 79, 126, 0.02);
  --color-green: green;
  --color-light-green: #b8ffec;
  --color-light-red: #ff3e79;
}

/*# sourceMappingURL=style.css.map */
