:root {
    --color-border-topnbottom: #d9fff5;
    --color-grey: #7e7e82;
    --color-grey-greyer: #838385;
    --color-white: #fff;
    --color-white-2: rgb(255, 225, 225);
    --color-white-darker: #f8f8f8;
    --color-white-darker-2: #eaeaea;
    --color-black: black;
    --color-black-lighter: #1b1c21;
    --color-black-opacity-03: rgba(0, 0, 0, 0.3);
    --color-black-opacity-02: rgba(14, 24, 80, 0.2);
    --color-black-opacity-002: rgba(69, 79, 126, 0.02);
    --color-green: green;
    --color-light-green: #b8ffec;
    --color-light-red: #ff3e79;
  }
  

//   var(--color-white)