.header {
    background: #ffffff;
    min-width: 100vw;
    max-height: 88px;
    border-bottom: 1px solid #D9FFF5; 
    .nav {
        padding: 16px;
        flex-direction: row;
        display: flex;
        justify-content:space-between;
        align-items: center;
    }   
}

.main {
    background: #F8F8F8;
    height: auto;
    min-width: 100vw;
    padding-top: 24px;
    padding-bottom: 24px;

    .title {     
        max-width: 304px;
        display: flex;
        flex-flow: row;
        align-items: center;
        height: 40px;

        .main-title__decoraive-highlight {
            align-self: start;
        }

        .main-title__title {
            padding-left: 16px;
            text-align: start;
            width: 288px;
            align-self: center;
        }
    }

    .main__nav {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        white-space: nowrap;
        flex-flow: row;
        
        .main__nav-links {
            width: 100%;
            align-items:center;
            justify-content: flex-start;
            padding-left: 15px;
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            white-space: nowrap;
            list-style-type: none;
        }

    }

    .main-content {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        margin-top: -30px;
        .cuttedText {
            display: flex;
            max-width: 100%;
            height: 90px;
            overflow: hidden;
            white-space: wrap;
            text-overflow: ellipsis;
          }

        .main-content__description {
            padding: 24px 16px 16px 16px;
            color: #1B1C21;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px; /* 128.571% */
            letter-spacing: 0.2px;
        }

        .main-content__aside {
            display: flex;
            flex-direction: row;
            justify-content: start;
            padding-left: 16px;
            padding-right: 8px;
        }

        .main-content__image {
            width: 100%;
        }
    }

}


.header-nav__profile_button {
    display: none;
}

.header-nav__chat_button {
    display: none;
}

.header-nav__call_button {
    display: none;
}

.header-nav__item__header-nav__decoration-line-image-table {
    display: none;
}


.main__title__icons-for-desktop {
    display: none;
}